@{
    ViewData["Title"] = "Hello Mockups";
}

<div class="home-wrapper">
    <p>Mockups</p>
    <ul>
        <li><a asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
        <li><a asp-area="" asp-controller="Mockups" asp-action="QuizResult">QuizResult</a></li>
    </ul>
</div>
