* {
    font-family: sans-serif;
}
.navbar {
    font-weight: bold;
    padding-left: 92.5px;
    background-color: rgb(27, 27, 27)
}
.navbar a {
    color: rgb(124, 124, 124);
    font-size: 22px;
}
.nav-item a {
    font-size: 16px;
}
.border-top {
    margin-left: 92.5px;
    margin-right: 92.5px;
}
.footer {
    margin-left: 92.5px;
    padding-top: 18px;
}
.navbar .container-fluid {
    padding: 0;
}
.home-wrapper p {
    font-weight: bold;
    font-size: 32px;
    color:rgb(27, 27, 27);
}
.home-wrapper ul {
    margin-left: 10px;
}
.home-wrapper a {
    font-size: 16px;
    text-decoration: none;
}
.container {
    padding-left: 0;
    margin-left: 92.5px;
    margin-right: 92.5px;
}
.footer .container {
    max-width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.wrapper p {
    font-weight: bold;
    font-size: 32px;
    color:rgb(27, 27, 27);
}
.wrapper p.text {
    font-weight: bold; 
    font-size: 16px;
    color:rgb(27, 27, 27);
    margin-bottom: 3px;
}
.wrapper p.evaluation {
    font-weight: normal;
    font-size: 16px;
    color:rgb(27, 27, 27);
    margin-bottom: 3px;
}
.form-p {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.form-p input {
    font-size: 22px;
}
.form-p button {
    font-size: 22px;
    font-style: normal;
}
.form-p select {
    font-size: 22px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper p.result {
    font-style: normal;
    font-size: 28px;
}